.sidebar-sticky {
  background-color: grey
  position: fixed;
  float: left;
  width: 100px;
  height: 100%;
}

.sidebar-sticky img {
  width: 100px;
}

.img-caption-left {
  float: left;
  width: 100px;
  font-size: 10px;
  margin: 2em;
}

p {
  padding-left: 3%;
}

.textul * {
  display: inline;
}

.textul li:before {
   content:"• "
}

.img-caption-right {
  float: right;
  width: 100px;
  font-size: 10px;
  margin: 2em;
}

[class^="boxed-headline"] {
  margin: 1%;
  padding: 1%;
  font-weight: bold;
  font-size: 16px;
}

#left-box {
  background-color: #f5fffa;
  border: solid 1px #cef2e0;
}

#right-box {
  background-color: #f5faff;
  border: #cedff2;

}


.boxed-headline-left {
  font-family: inherit;
  border: solid 1px #a3bfb1;
  background-color: #cef2e0;
}

.boxed-headline-right {
  font-family: inherit;
  border: solid 1px #a3b0bf;
  background-color: #cedff2;
}

.container {
  margin-left: 100px;
}
